.top-container{
  background-color: #E4F9F5;
  padding-top: 160px;

}
body{
  margin: 0;
  text-align: center;
  font-family: 'Antique', sans-serif;

}
h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 90px;

}
h3{
  color: #66BFBF;
  font-family: "Trirong", serif;
  font-size: 2.5rem;
}
h2{
  color: #66BFBF;
  font-family: sans-serif;
  font-size: 2.5rem;
}
h4{

  font-family: sans-serif;
}

p {
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: fantasy;
}

.middle-container{

height: 300px;
}
.bottom-container{
  background-color:
height: 300px;
position: absolute;
}
.top-cloud{
position: relative;
top:100px;
left:300px;
}
.bottom-cloud{
  position: absolute;
    left: 249px;
    top: 100px;
}
.tree{
  padding-bottom: 50px;

}
.footer-link{
  font-family: fantasy;
  display: block;
}
hr{
  border-style: none;
  width: 100px;
  border-top:10px dotted grey;

}

h5{
  font-style: normal;
  font-family: sans-serif;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  margin:10px auto auto auto;
}



}
